<app-header
  [title]="'Join a Case'"
  [subtitle]="'Find the name of the case you want to join in the list below.'"
>
</app-header>
<app-body>
  <div class="row">
    <div class="col-md-6 my-3" *ngFor="let case of cases">
      <a (click)="joinCase(case._id)">
        <app-card [title]="'The Case of the ' + case.name" [useHover]="true">
          <p class="text-center">
            Case Opened on {{ case.openedDate | date }}
          </p>
          <p class="text-center">
            <span *ngIf="caseIsNotStarted(case)">Not</span>
            Started
          </p>
        </app-card>
      </a>
    </div>
  </div>
</app-body>
