<app-body>
  <div class="row">
    <div class="col-md-10 mx-auto my-3">
      <app-card [title]="'Tips'">
        <p>
          These are some things to try as you're playing Order in the Court! There are some alternative game styles and
          things to try to spice up the game.
        </p>
        <hr>
        <h5 class="text-center">
          Order in the Court: Drinking Game Version
        </h5>
        <p>
          This game can easily be made into a drinking game. The Judge can give out drinks as penalties to players who
          get caught in a lie, do something annoying, or however the judge pleases. Feel free to use penalties even if
          you don't want to involve alcohol!
        </p>
        <hr>
        <h5 class="text-center">
          Points for Puns
        </h5>
        <p>
          Judges can use an criteria they want to make their ruling. In early versions of this game, we often found puns
          to be a particularly good way to judge guilt.
        </p>
        <hr>
        <h5 class="text-center">
          Crime & Punishment
        </h5>
        <p>
          In the normal game, the judge just decides "GUILTY" or "NOT GUILTY". The game is more fun if the judge also
          gives out a punishment, whether within the story or real life.
        </p>
        <hr>
        <h5 class="text-center">
          Your Ideas
        </h5>
        <p>
          We're always open to new ideas! If you have any, submit them
          <a class="btn btn-link" href="http://www.adamontheinternet.com/contact" target="_blank">HERE</a>.
        </p>
      </app-card>
    </div>
  </div>
</app-body>
