<app-header
  [title]="'Donate'"
  [subtitle]="
    'Show gratitude for this free website by donating to a charity I support.'
  "
></app-header>
<app-body>
  <div class="row">
    <div class="col-md-4 my-3">
      <app-card [title]="'RAICES'">
        <p>
          Donate to help fight for immigrant and refugee rights.
        </p>
        <a
          class="btn btn-secondary"
          href="https://www.raicestexas.org/ways-to-give/donate/"
          target="_blank"
        >
          Donate
        </a>
      </app-card>
    </div>
    <div class="col-md-4 my-3">
      <app-card [title]="'Peter and Paul Community Services'">
        <p>
          Donate to help the homeless in St. Louis, Missouri.
        </p>
        <a
          class="btn btn-secondary"
          href="https://ppcsinc.org/give/make-a-donation/"
          target="_blank"
        >
          Donate
        </a>
      </app-card>
    </div>
    <div class="col-md-4 my-3">
      <app-card [title]="'Meals on Wheels'">
        <p>
          Donate to help feed America.
        </p>
        <a
          class="btn btn-secondary"
          href="https://ams.mealsonwheelsamerica.org/eweb/DynamicPage.aspx?WebCode=globaldonate&site=mowa&CampCode=AnnualCampaign&AplCode=AnnCampWeb&_ga=2.86054296.1679140158.1542118140-1937589897.1533304096"
          target="_blank"
        >
          Donate
        </a>
      </app-card>
    </div>
  </div>
</app-body>
