<div class="jumbotron jumbotron-fluid bg-tan mb-0">
  <div class="container">
    <h1 class="display-4">Donate</h1>
    <p class="lead">
      Show gratitude for this free website by donating to a charity I support.
    </p>
  </div>
</div>
<div class="bg-off">
  <div class="container">
    <div class="row">
      <div class="col-md-4 my-3">
        <div class="card border-secondary h-100">
          <div class="card-body">
            <h5 class="card-title">RAICES</h5>
            <a
              class="btn btn-secondary"
              href="https://www.raicestexas.org/ways-to-give/donate/"
              target="_blank"
            >
              Donate
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="card border-secondary h-100">
          <div class="card-body">
            <h5 class="card-title">Peter and Paul Community Services</h5>
            <a
              class="btn btn-secondary"
              href="https://ppcsinc.org/give/make-a-donation/"
              target="_blank"
            >
              Donate
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="card border-secondary h-100">
          <div class="card-body">
            <h5 class="card-title">Meals on Wheels</h5>
            <a
              class="btn btn-secondary"
              href="https://ams.mealsonwheelsamerica.org/eweb/DynamicPage.aspx?WebCode=globaldonate&site=mowa&CampCode=AnnualCampaign&AplCode=AnnCampWeb&_ga=2.86054296.1679140158.1542118140-1937589897.1533304096"
              target="_blank"
            >
              Donate
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
