<div class="card border-primary" [class.h-100]="autoHeight">
  <div class="card-body">
    <h4 class="card-title text-center" *ngIf="hasTitle">
      <span *ngIf="hasIcon">
        <i class="fa" [ngClass]="icon"></i>
      </span>
      {{ title }}
      <app-accordion-trigger
        class="pull-right"
        *ngIf="useAccordion"
        [areaId]="accordionId"
        [text]="'Toggle'"
      ></app-accordion-trigger>
    </h4>
    <h5 class="card-subtitle" *ngIf="hasSubtitle">
      {{ subtitle }}
    </h5>
    <app-accordion-area
      [areaId]="accordionId"
      *ngIf="useAccordion; else content"
    >
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </app-accordion-area>
  </div>
</div>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
