<ng-container *ngIf="ready; else loading">
  <div class="header">
    <h1>{{ case.name }}: Defendant</h1>
  </div>
  <div class="content">
    <p>
      You are the defendant.
    </p>
    <hr />
    <app-issue-block [issue]="case.issue"></app-issue-block>
    <hr />
    <p *ngIf="case.defendantEvidence.length === 0">
      You have no evidence left to reveal.
    </p>
    <p *ngIf="case.defendantEvidence.length > 0">
      Here is the evidence you have for this case:
    </p>
    <ol>
      <li *ngFor="let evidence of case.defendantEvidence">
        {{ evidence.name }}
        <button (click)="revealEvidence(evidence)">Reveal</button>
      </li>
    </ol>
    <hr />
    <app-revelations [case]="case"></app-revelations>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
