<ng-container *ngIf="ready; else loading">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ case.name }}: Defendant</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <p>
          You are the defendant.
        </p>
        <hr />
        <p *ngIf="case.defendantEvidence.length === 0">
          You have no evidence left to reveal.
        </p>
        <p *ngIf="case.defendantEvidence.length > 0">
          Here is the evidence you have for this case:
        </p>
        <ol>
          <li *ngFor="let evidence of case.defendantEvidence">
            {{ evidence.name }}
            <button (click)="revealEvidence(evidence)">Reveal</button>
          </li>
        </ol>
        <hr />
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spinner-border"></div>
        <p>Loading...</p>
      </div>
    </div>
  </div>
</ng-template>
