<ng-container *ngIf="ready; else loading">
  <app-header [title]="case.name + ': Defendant'"></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-6 my-3">
        <div class="mb-3">
          <app-card
            [autoHeight]="false"
            [title]="'Defendant Role Explanation'"
            [icon]="'fa-book'"
          >
            <ul>
              <li>
                As the defendant, you must defend yourself from the plaintiff's
                accusation.
              </li>
              <li>
                Use your evidence to prove your side.
              </li>
              <li>
                If there are witnesses, ask them questions to prove your side.
              </li>
              <li>
                Make up any argument you can to prove your side!
              </li>
            </ul>
          </app-card>
        </div>
        <h3 class="text-center" *ngIf="case.unrevealedDefendantEvidence.length > 0">
          Unrevealed Evidence
        </h3>
        <div
          class="card my-2 border-primary"
          *ngFor="let evidence of case.unrevealedDefendantEvidence"
        >
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-search"></i>
              {{ evidence.name }}
            </h5>
            <button
              class="btn btn-secondary"
              (click)="revealEvidence(evidence)"
            >
              Reveal
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</ng-template>
