<ng-container *ngIf="ready; else notReady">
  <button (click)="createContraption()" *ngIf="canEdit">
    Create Contraption
  </button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Details</th>
        <ng-container *ngIf="canEdit">
          <th>Edit</th>
          <th>Delete</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contraption of contraptionResource.contraptions">
        <td>{{ contraption.name }}</td>
        <td>
          <button (click)="contraptionDetails(contraption)">Details</button>
        </td>
        <ng-container *ngIf="canEdit">
          <td><button (click)="editContraption(contraption)">Edit</button></td>
          <td>
            <button (click)="requestDelete(contraption)">Delete</button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #notReady>
  <p *ngIf="error">Error occured :(</p>
  <p *ngIf="!error">Loading...</p>
</ng-template>
