<div class="bg-brown">
  <div class="row">
    <div class="col-md-12 my-3 text-center">
      <p class="my-0">
        <a
          class="btn btn-link text-white"
          href="https://github.com/upandatom96"
          target="_blank"
        >
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a
          class="btn btn-link text-white"
          href="https://www.linkedin.com/in/adam-callanan-49114b119"
          target="_blank"
        >
          <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
      </p>
      <p class="my-0">
        <button
          class="btn btn-link text-white"
          (click)="goToAdamOnTheInternet()"
        >
          © Adam on the Internet {{ year }}
        </button>
      </p>
      <p class="my-0">
        <button class="btn btn-link text-white" (click)="goToInfo()">
          More Info
        </button>
      </p>
      <p class="my-0" *ngIf="!isLoggedIn">
        <button class="btn btn-link text-white" (click)="goToLogin()">
          Login
        </button>
      </p>
    </div>
  </div>
</div>
