<ng-container *ngIf="ready; else notReady">
  <h1>
    {{ contraption.name }}
  </h1>
  <p>
    <strong>Description:</strong>
    {{ contraption.description }}
  </p>
  <p>
    <strong>Age:</strong>
    {{ contraption.age }}
  </p>
  <p>
    <strong>Type:</strong>
    {{ contraption.type }}
  </p>
  <p>
    <strong>Condition:</strong>
    <span *ngIf="contraption.used"> used</span>
    <span *ngIf="!contraption.used"> new</span>
  </p>
</ng-container>

<ng-template #notReady>
  <p>Loading...</p>
</ng-template>
