<div class="row">
  <div class="col-md-12 my-3">
    <div class="card border-primary">
      <h3 class="text-center mt-2" *ngIf="hasTitle">{{title}}</h3>
      <div id="show-cases" *ngIf="hasCases">
        <p class="text-center" *ngIf="!archiveMode">
          <button class="btn btn-danger" (click)="deleteAllCases()">Delete All</button>
        </p>
        <p class="mx-2 my-2">
          <small>Showing {{ cases.length }} case(s)</small>
        </p>
        <table class="table">
          <thead>
          <tr>
            <th>Case Name</th>
            <th>Case Opened On:</th>
            <ng-container *ngIf="archiveMode">
              <th>Case Closed On:</th>
              <th>Defendant was found:</th>
              <th>More Info</th>
            </ng-container>
            <ng-container *ngIf="!archiveMode">
              <th>Details</th>
              <th>Delete</th>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let myCase of cases; let i = index">
            <td>
              The Case of the {{ myCase.name }}
              <span class="badge badge-warning" *ngIf="myCase.isCustom && !archiveMode">CUSTOM</span>
            </td>
            <td>{{ myCase.openedDate | date:'MMM d, y, h:mm a' }}</td>
            <ng-container *ngIf="archiveMode">
              <td>{{ myCase.closedDate | date:'MMM d, y, h:mm a' }}</td>
              <td>
                <span *ngIf="!myCase.isDefendantGuilty">NOT</span>
                GUILTY
              </td>
              <td>
                <button class="btn btn-secondary" (click)="getMoreInfo(myCase)">
                  More Info
                </button>
              </td>
            </ng-container>
            <ng-container *ngIf="!archiveMode">
              <td>
                <button
                  class="btn btn-outline-warning"
                  (click)="goToCaseDetails(myCase)"
                >
                  <i class="fa fa-comments"></i>
                  Details
                </button>
              </td>
              <td>
                <button
                  class="btn btn-outline-danger"
                  (click)="requestDelete(myCase)"
                >
                  <i class="fa fa-trash"></i>
                  Delete
                </button>
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="no-cases" *ngIf="!hasCases">
        <p class="mx-2 my-2 text-center">
          No cases available.
        </p>
      </div>
    </div>
  </div>
</div>
