<p>
  <button (click)="generateCase()">
    Generate a new case
  </button>
</p>
<ng-container *ngIf="ready; else loading">
  <ng-container *ngIf="!hasCase">
    <p>
      No cases available.
    </p>
  </ng-container>
  <ng-container *ngIf="hasCase">
    <p *ngIf="adminMode">
      <small>Showing {{ cases.length }} case(s)</small>
    </p>
    <table *ngIf="cases.length > 0">
      <thead>
        <tr>
          <th *ngIf="!adminMode">#</th>
          <th>Case name</th>
          <th *ngIf="!adminMode">Enter</th>
          <ng-container *ngIf="adminMode">
            <th>Details</th>
            <th>Delete</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let case of cases; let i = index">
          <th *ngIf="!adminMode">{{ i + 1 }}</th>
          <td>{{ case.name }}</td>
          <td *ngIf="!adminMode">
            <button (click)="goToCourtroom(case)">
              Enter the Courtroom
            </button>
          </td>
          <ng-container *ngIf="adminMode">
            <td>
              <button (click)="goToCaseDetails(case)">Details</button>
            </td>
            <td>
              <button (click)="requestDelete(case)">Delete</button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
