<div class="header">
  <h1>
    Order in the Court
  </h1>
</div>
<div class="content">
  <p>
    Welcome to the Order in the Court app!
  </p>
  <p>
    <button (click)="generateCase()">
      Generate a new case
    </button>
  </p>
  <table *ngIf="ready; else loading">
    <thead>
      <tr>
        <th>Case name</th>
        <th>Enter</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let case of cases">
        <td>{{ case.name }}</td>
        <td>
          <button (click)="goToCourtroom(case)">
            Enter the Courtroom
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
