<app-header
  [title]="'Order in the Court'"
  [subtitle]="
    'A free browser-based improv game loosely based off of reality court shows.'
  "
></app-header>
<app-body>
  <div class="row">
    <div class="col-md-6 my-3">
      <app-card [title]="'Join a Case'" [icon]="'fa-sign-in'">
        <p>
          Are you here to play a game with a friend who has setup a case? Then
          join an existing case!
        </p>
        <button class="btn btn-primary" (click)="joinCase()">Join</button>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'Create a Case'" [icon]="'fa-plus'">
        <p>
          Are you here to setup a case to play with friends? Then create a new
          case!
        </p>
        <button class="btn btn-primary" (click)="createCase()">
          Create
        </button>
      </app-card>
    </div>

    <div class="col-md-6 my-3">
      <app-card [title]="'Read the Rules'" [icon]="'fa-book'">
        <p>
          New here? Not sure how the game works? Read the rules for the game.
        </p>
        <button class="btn btn-secondary" (click)="readRules()">Rules</button>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'View the Case Archive'" [icon]="'fa-archive'">
        <p>
          Full of nostalgia for the past games you've played here? Look at
          archived cases.
        </p>
        <button class="btn btn-secondary" (click)="goToArchive()">
          View
        </button>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'Donate to Charity'" [icon]="'fa-money'">
        <p>
          Like this free website? Pay it forward to a charity I support.
        </p>
        <a
          class="btn btn-secondary"
          href="https://aoti-app-hub.herokuapp.com/donate"
          target="_blank"
        >
          Donate
        </a>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'More Information'" [icon]="'fa-info-circle'">
        <p>
          Just curious about this site? Get more information about this website.
        </p>
        <button class="btn btn-secondary" (click)="goToInfo()">Info</button>
      </app-card>
    </div>
  </div>
</app-body>
