<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Order in the Court</h1>
    <p class="lead">Welcome! Please select a case or create a new one.</p>
  </div>
</div>
<div class="container">
  <div class="row mb-3">
    <div class="col-md-6 my-3">
      <div class="card border-primary">
        <div class="card-body">
          <h5 class="card-title">Create a Case</h5>
          <p class="card-text">Start a new case that your friends can join!</p>
          <button class="btn btn-primary" (click)="createCase()">Create</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card border-primary">
        <div class="card-body">
          <h5 class="card-title">Join a Case</h5>
          <p class="card-text">Join an existing case!</p>
          <button class="btn btn-primary" (click)="joinCase()">Join</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card border-secondary">
        <div class="card-body">
          <h5 class="card-title">View the Case Archive</h5>
          <p class="card-text">Look at past cases.</p>
          <button class="btn btn-secondary" disabled>Coming soon</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card border-secondary">
        <div class="card-body">
          <h5 class="card-title">Make Suggestions</h5>
          <p class="card-text">
            Suggest evidence, witnesses, and issues to add to the pool!
          </p>
          <button class="btn btn-secondary" disabled>Coming soon</button>
        </div>
      </div>
    </div>
  </div>
</div>
