<p>
  <span (click)="goToDashboard()" id="app-title">order-in-the-court-app</span> //
  <span (click)="goToCourtroom()">courtroom</span> //
  <span (click)="goToInfo()">info</span> //
  <span (click)="goToEvidenceOverview()">evidence</span> //
  <span (click)="goToWitnessOverview()">witness</span> //
  <span (click)="goToIssueOverview()">issue</span> //
  <ng-container *ngIf="isLoggedIn">
    <span (click)="logout()">logout</span> //
    <span (click)="goToProfile()">Hello, {{ userEmail }}</span> //
    <span (click)="goToAdmin()" *ngIf="isAdmin">(ADMIN) //</span>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
    <span (click)="goToRegister()">register</span> //
    <span (click)="goToLogin()">login</span> //
  </ng-container>
</p>
<hr />
