<nav class="navbar navbar-expand-lg navbar-dark bg-brown court-bottom">
  <a class="navbar-brand" (click)="goToDashboard()">
    <i class="fa fa-gavel"></i>
    <span id="app-title">
      Order in the Court
    </span>
    <span class="badge badge-light">BETA</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="goToDashboard()">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <ng-container *ngIf="!showCase">
        <li class="nav-item active">
          <a class="nav-link" (click)="goToJoin()">
            <i class="fa fa-sign-in"></i>
            Join
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="goToCreate()">
            <i class="fa fa-plus"></i>
            Create
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="goToExtras()">
            <i class="fa fa-star"></i>
            Extras
          </a>
        </li>
      </ng-container>
      <li class="nav-item active" *ngIf="showCase">
        <a class="nav-link" (click)="goToCase()">
          <i class="fa fa-tag"></i>
          {{caseName}}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"
           data-toggle="modal"
           href="#help">
          <i class="fa fa-question-circle"></i>
          Help
        </a>
      </li>
      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" (click)="goToProfile()">Your profile</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" (click)="goToAdmin()">Admin panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

<app-basic-modal-box [title]="'Help'" [boxId]="'help'">
  <p>
    Order in the Court is a free browser-based improv game loosely based off of reality court shows.
  </p>
  <p>
    To play, you will need a group of 3 or more people. One person should
    <strong>CREATE</strong>
    the case. Once they
    have created
    the case, the other players can
    <strong>JOIN</strong>
    the case. After joining, each player selects a role and the
    case begins.
  </p>
  <hr>
  <p>
    For more information, check out the
    <strong>EXTRAS</strong>
    area.
  </p>
  <hr>
  <h4 class="text-center">Rules</h4>
  <hr>
  <app-rules-display></app-rules-display>
</app-basic-modal-box>
