<ng-container *ngIf="ready; else notReady">
  <button (click)="createDoodad()">
    Create Doodad
  </button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doodad of doodadResource.doodads">
        <td>{{ doodad.name }}</td>
        <td><button (click)="doodadDetails(doodad)">Details</button></td>
        <td><button (click)="editDoodad(doodad)">Edit</button></td>
        <td><button (click)="requestDelete(doodad)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #notReady>
  <p *ngIf="error">Error occured :(</p>
  <p *ngIf="!error">Loading...</p>
</ng-template>
