<ng-container *ngIf="ready; else loading">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ case.name }}: Jury</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <p>
          You are in the jury.
        </p>
        <p>
          You are just a spectator til the end, when the judge will ask your
          opinion.
        </p>
        <hr />
        <app-issue-block [issue]="case.issue"></app-issue-block>
        <hr />
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spinner-border"></div>
        <p>Loading...</p>
      </div>
    </div>
  </div>
</ng-template>
