<ng-container *ngIf="ready; else loading">
  <app-header [title]="'Jury'"></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3">
        <h3 class="text-center">Role</h3>
        <div class="mb-3">
          <app-card
            [autoHeight]="false"
            [title]="'Jury Role Explanation'"
            [icon]="'fa-book'"
          >
            <ul>
              <li>
                You are a spectator! Just watch the case unfold and react
                dramatically.
              </li>
              <li>
                Optionally, the judge may ask for you opinion when making a
                verdict.
              </li>
            </ul>
          </app-card>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</ng-template>
