<ng-container *ngIf="ready; else loading">
  <app-header
    [title]="case.name + ': Jury'"
    [subtitle]="
      'You are in the jury. You are just a spectator til the end, when the judge will ask your opinion before making a verdict.'
    "
  ></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</ng-template>
