<ng-container *ngIf="ready; else loading">
  <app-header
    [title]="case.name + ': Role Select'"
    [subtitle]="'To play, you must select what role you are playing.'"
  ></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-6 my-3">
        <h3 class="text-center">
          Roles
        </h3>
        <div class="my-3">
          <app-card [title]="'Judge'" [autoHeight]="false" [icon]="'fa-gavel'">
            <p>
              The judge runs the case and makes a verdict at the end.
            </p>
            <button class="btn btn-primary" (click)="beJudge()">
              Choose
            </button>
          </app-card>
        </div>
        <div class="my-3">
          <app-card
            [title]="'Plaintiff'"
            [autoHeight]="false"
            [icon]="'fa-balance-scale'"
          >
            <p>
              The plaintiff uses evidence to accuse the defendant of some
              wrongdoing.
            </p>
            <button class="btn btn-primary" (click)="bePlaintiff()">
              Choose
            </button>
          </app-card>
        </div>
        <div class="my-3">
          <app-card
            [title]="'Defendant'"
            [autoHeight]="false"
            [icon]="'fa-balance-scale'"
          >
            <p>
              The defendant uses evidence to deny the accusation from the
              plaintiff.
            </p>
            <button class="btn btn-primary" (click)="beDefendant()">
              Choose
            </button>
          </app-card>
        </div>
        <div class="my-3">
          <app-card
            [title]="'Witness'"
            [autoHeight]="false"
            [icon]="'fa-users'"
          >
            <p>
              The witness comes in to court to connect their backstory to the
              case.
            </p>
            <button class="btn btn-primary" (click)="beWitness()">
              Choose
            </button>
          </app-card>
        </div>
        <div class="my-3">
          <app-card [title]="'Jury'" [autoHeight]="false" [icon]="'fa-eye'">
            <p>
              The jury spectates and is consulted by the judge before making a
              verdict.
            </p>
            <button class="btn btn-primary" (click)="beJury()">
              Choose
            </button>
          </app-card>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <app-body>
    <div class="row">
      <div class="col-md-12">
        <app-loading [message]="'Preparing role selection...'"></app-loading>
      </div>
    </div>
  </app-body>
</ng-template>
