<app-header [title]="'Rules'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-12 my-3">
      <div class="mb-3">
        <app-card [title]="'Overview'" [autoHeight]="false">
          <hr />
          <p>
            <strong>PLAYERS:</strong>
            3+
          </p>
          <p>
            <strong>SUMMARY:</strong>
            Order in the Court is a story-building improv game where players
            assume the roles of various characters in a court case and argue to
            reveal the truth using witnesses, evidence, and wit. The rules are
            fairly loose, please feel free to play however your group would like
            to!
          </p>
          <p>
            <strong>GAME START:</strong>
            The Judge starts the game once the Plaintiff, the Defendant, and all
            the Witnesses have joined. The Judge then decides how to begin the
            game. Typically, this is done by the Judge introducing all the
            players and their roles, along with the issue, then allowing opening
            statements from the Plaintiff and the Defendant.
          </p>
          <p>
            <strong>GAME END:</strong>
            Once all the evicence has been revealed, the Judge ends the game by
            making a verdict. Usually, the Plaintiff and Defendant make closing
            statements before the Judge makes a verdict. The Judge also might
            consult the Jury players.
          </p>
        </app-card>
      </div>
      <div class="mb-3">
        <app-card [title]="'Roles'" [autoHeight]="false">
          <hr />
          <p>
            <strong>JUDGE:</strong>
            {{ judgeRole }}
          </p>
          <hr />
          <p>
            <strong>PLAINTIFF:</strong>
            {{ plaintiffRole }}
          </p>
          <hr />
          <p>
            <strong>DEFENDANT:</strong>
            {{ defendantRole }}
          </p>
          <hr />
          <ol>
            <li>
              <strong>EVIDENCE:</strong>
              Each side (Plaintiff & Defendant) has some amount of Evidence.
              They can reveal this Evidence to prove their case - if they can
              find ways to connect their Evidence to their argument.
            </li>
            <li>
              <strong>WITNESSES:</strong>
              If you have more than 3 players, you may have Witnesses. You may
              ask the Witnesses questions to help make your argument.
            </li>
            <li>
              <strong>WIT:</strong>
              When the floor is yours to speak, you can make your case however
              you want! It is best to stick to Evidence and Witnesses, but any
              other points are also worth making.
            </li>
          </ol>
          <hr />
          <p>
            <strong>WITNESSES:</strong>
            {{witnessRole}}
          </p>
          <hr />
          <p>
            <strong>JURY:</strong>
            {{juryRole}}
          </p>
        </app-card>
      </div>
    </div>
  </div>
</app-body>
