<div class="header">
  <h1>
    Rules
  </h1>
</div>
<div class="content">
  <p>
    <strong>Overview:</strong>
    Order in the Court is a story-building improv game where players assume the
    roles of various people in a court case and argue to reveal the truth using
    witnesses, evidence, and wit. The rules are fairly loose and can be changed
    depending on how your group would like to play.
  </p>
  <p>
    <strong>Players:</strong>
    3+
  </p>
  <hr />
  <h3>Roles</h3>
  <p>
    <strong>THE JUDGE:</strong>
    The judge calls the shots. It is up to the judge to decide what questions to
    ask, who gets to talk, who is successful at making their case, and when to
    introduce witnesses. They can decide whether they'd like to keep score based
    on evidence / witness impressions or whether they'd rather leave the scoring
    more loose and pick a winner at the end.
  </p>
  <p>
    <strong>THE PLAINTIFF / THE DEFENDANT:</strong>
    The plaintiff has filed a law suit against the defendant over a certain
    ISSUE. Both sides will make their case in a handful of ways:
  </p>
  <ol>
    <li>
      <strong>EVIDENCE:</strong>
      Each side (P & D) has some amount of evidence. They can use this evidence
      to prove their case - if they can find ways to connect their evidence to
      their argument.
    </li>
    <li>
      <strong>WITNESSES:</strong>
      In a game of at least 4 people, witnesses may be brought into court.
      Witnesses can stay neutral or pick a side, but must find a way to connect
      their identity to the case at hand, offering some sort of insight. The
      judge picks when to call witnesses and which witness to call. The judge
      and the two sides (P & D) can ask the witness questions, and the judge
      decides what to believe.
    </li>
    <li>
      <strong>WIT:</strong>
      When the floor is yours to speak, you can make your case however you want!
      It is best to stick to evidence and witnesses, but any other points are
      also worth making (especially puns).
    </li>
  </ol>
  <p>
    <strong>WITNESSES:</strong>
    As a witness...
  </p>
</div>
