<ng-container *ngIf="ready; else loading">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ case.name }}: Judge</h1>
      <p>
        You are the judge. You get to decide who wins the case and when to call
        witnesses.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Case File</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              As a judge, you can take notes and keep score. Only you can see
              this information, and its entirely optional.
            </li>
            <li class="list-group-item">
              <button
                *ngIf="!case.closed"
                class="btn btn-secondary"
                (click)="updatePlaintiffScore(-1)"
              >
                -
              </button>
              {{ case.plaintiffScore }}
              <button
                *ngIf="!case.closed"
                class="btn btn-secondary"
                (click)="updatePlaintiffScore(1)"
              >
                +
              </button>
              points for the Plaintiff
            </li>
            <li class="list-group-item">
              <button
                *ngIf="!case.closed"
                class="btn btn-secondary"
                (click)="updateDefendantScore(-1)"
              >
                -
              </button>
              {{ case.defendantScore }}
              <button
                *ngIf="!case.closed"
                class="btn btn-secondary"
                (click)="updateDefendantScore(1)"
              >
                +
              </button>
              points for the defendant
            </li>
            <li class="list-group-item">
              Notes:
              <br />
              <p *ngIf="case.closed">
                {{ case.notes }}
              </p>
              <textarea
                *ngIf="!case.closed"
                rows="5"
                cols="30"
                (change)="updateNotes($event)"
                >{{ case.notes }}</textarea
              >
            </li>
          </ul>
        </div>
        <ng-container *ngIf="readyToClose">
          <div class="alert alert-info" *ngIf="!case.closed">
            All witnesses and evidence have been revealed. When you're ready,
            write your verdict and close the case.
          </div>
          <p>
            <strong>VERDICT</strong>
          </p>
          <textarea
            [disabled]="case.closed"
            rows="5"
            cols="30"
            (change)="updateVerdict($event)"
            >{{ case.verdict }}</textarea
          >
          <div
            class="alert alert-warning"
            *ngIf="!case.verdict || case.verdict.length === 0"
          >
            You must write a verdict before you submit.
          </div>
          <button
            class="btn btn-primary btn-block"
            (click)="closeCase()"
            *ngIf="!case.closed"
            [disabled]="!case.verdict || case.verdict.length === 0"
          >
            Close case
          </button>
        </ng-container>
      </div>
      <div class="col-md-6 mb-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spinner-border"></div>
        <p>Loading...</p>
      </div>
    </div>
  </div>
</ng-template>
