<ng-container *ngIf="ready; else loading">
  <app-header [title]="'Judge'"></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-6 my-3">
        <h3 class="text-center">Role</h3>
        <div class="card border-primary mb-3" *ngIf="caseUnstarted">
          <div class="card-body">
            <h5 class="card-title">
              Start Case
            </h5>
            <div class="alert alert-info" *ngIf="!canBeStarted">
              You can start the case once The Judge, The Plaintiff, and The
              Defendant have picked their names.
            </div>
            <button
              class="btn btn-primary"
              [disabled]="!canBeStarted"
              (click)="startCase()"
            >
              Start the Case
            </button>
          </div>
        </div>
        <div class="mb-3">
          <app-card
            [autoHeight]="false"
            [title]="'Judge Role Explanation'"
            [icon]="'fa-book'"
          >
            <ul>
              <li>
                You are in charge of directing the case. How you do this is up
                to you!
              </li>
              <li>
                After all evidence and witnesses are revealed, you will make a
                verdict.
              </li>
              <li>
                Optionally, you can use the "Case File" below to keep score and
                take notes.
              </li>
              <li>
                If there are witnesses in this case, you can decide to call them
                at any time. Do this by telling the witness player(s) to reveal
                a witness.
              </li>
              <li>
                If there is a jury in this case, you can allow them to have an
                input on the verdict at the end of the case.
              </li>
            </ul>
          </app-card>
        </div>
        <div class="card border-primary mb-3" *ngIf="caseStarted">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-gavel"></i>
              Verdict
            </h5>
            <div class="alert alert-info" *ngIf="!readyToClose">
              You cannot make your verdict until all evidence has been revealed.
            </div>
            <div id="verdict-controls" *ngIf="readyToClose">
              <div class="alert alert-info">
                All witnesses and evidence have been revealed. When you're
                ready, choose your verdict and close the case.
              </div>
              <hr />
              <label>VERDICT</label>
              <br />
              <button
                class="btn btn-primary mx-2 mb-1"
                (click)="verdictGuilty(true)"
              >
                Defendant is GUILTY
              </button>
              <button
                class="btn btn-primary mx-2 mb-1"
                (click)="verdictGuilty(false)"
              >
                Defendant is NOT GUILTY
              </button>
            </div>
          </div>
        </div>
        <div class="card border-primary">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-file"></i>
              Case File
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="alert alert-info" *ngIf="!case.closed">
                As a judge, you can take notes and keep score. This is only
                visible to you.
              </div>
            </li>
            <li class="list-group-item">
              <button
                *ngIf="!case.closed"
                class="btn btn-secondary"
                (click)="updatePlaintiffScore(-1)"
              >
                -
              </button>
              {{ plaintiffScore }}
              <button
                *ngIf="!case.closed"
                class="btn btn-secondary"
                (click)="updatePlaintiffScore(1)"
              >
                +
              </button>
              points for the Plaintiff
            </li>
            <li class="list-group-item">
              <button
                *ngIf="!case.closed"
                class="btn btn-secondary"
                (click)="updateDefendantScore(-1)"
              >
                -
              </button>
              {{ defendantScore }}
              <button
                *ngIf="!case.closed"
                class="btn btn-secondary"
                (click)="updateDefendantScore(1)"
              >
                +
              </button>
              points for the Defendant
            </li>
            <li class="list-group-item">
              <div class="form-group">
                <label for="notes">Notes:</label>
                <p *ngIf="case.closed">
                  {{ notes }}
                </p>
                <textarea
                  *ngIf="!case.closed"
                  (change)="updateNotes($event)"
                  class="form-control"
                  rows="5"
                  id="notes"
                ></textarea>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</ng-template>
