<ng-container *ngIf="ready; else notReady">
  <button (click)="createWidget()">
    Create Widget
  </button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let widget of widgetResource.widgets">
        <td>{{ widget.name }}</td>
        <td><button (click)="widgetDetails(widget)">Details</button></td>
        <td><button (click)="editWidget(widget)">Edit</button></td>
        <td><button (click)="requestDelete(widget)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #notReady>
  <p *ngIf="error">Error occured :(</p>
  <p *ngIf="!error">Loading...</p>
</ng-template>
