<app-body>
  <div class="row">
    <div class="col-md-12 mx-auto my-3 text-center">
      <app-card>
        <app-case-header *ngIf="caseLoaded; else loadingSection"></app-case-header>
        <ng-container *ngIf="caseLoaded">
          <ng-container [ngTemplateOutlet]="loadingSectionWithHr" *ngIf="waitingNotForRoles"></ng-container>
          <section id="role-assignment" *ngIf="assigningRoles">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <app-cast></app-cast>
              </div>
              <div class="col-md-6">
                <ng-container [ngTemplateOutlet]="loadingSection" *ngIf="assigningRoles"></ng-container>
                <br>
                <p>
                  <button class="btn btn-secondary" (click)="backToRoleSelect()">
                    <i class="fa fa-arrow-left">
                    </i>
                    Pick Different Role
                  </button>
                </p>
              </div>
            </div>
          </section>
          <section id="role-details">
            <hr>
            <div class="row">
              <div class="col-md-12">
                <h5>Jury Role</h5>
                <p>
                  {{roleText}}
                </p>
              </div>
            </div>
          </section>
          <section id="case-in-progress" *ngIf="shouldShowEvidence">
            <hr>
            <app-revealed-evidence></app-revealed-evidence>
          </section>
        </ng-container>
      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loadingSectionWithHr>
  <hr>
  <ng-container [ngTemplateOutlet]="loadingSection"></ng-container>
</ng-template>

<ng-template #loadingSection>
  <app-waiting></app-waiting>
</ng-template>
