<app-body>
  <div class="row">
    <div class="col-md-10 mx-auto my-3 text-center">
      <app-card>
        <app-case-header *ngIf="caseLoaded"></app-case-header>
        <hr>
        <ng-container [ngTemplateOutlet]="loadingSection" *ngIf="waitingNotForRoles"></ng-container>
        <ng-container *ngIf="caseLoaded">
          <div id="role-assignment" *ngIf="assigningRoles">
            <div class="row">
              <div class="col-md-6">
                <app-cast></app-cast>
              </div>
              <div class="col-md-6">
                <ng-container [ngTemplateOutlet]="loadingSection" *ngIf="waitingForRoles"></ng-container>
                <br>
                <p>
                  <button class="btn btn-secondary" (click)="backToRoleSelect()">
                    <i class="fa fa-arrow-left">
                    </i>
                    Pick Different Role
                  </button>
                </p>
              </div>
            </div>
          </div>
          <hr>
          <h5>Jury Role</h5>
          <p>
            {{roleText}}
          </p>
          <div id="case-in-progress" *ngIf="shouldShowEvidence">
            <app-revealed-evidence></app-revealed-evidence>
          </div>
        </ng-container>
      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loadingSection>
  <i class="fa fa-hourglass fa-spin fa-4x my-3"></i>
  <h5 class="card-title">
    {{waitMessage}}
  </h5>
</ng-template>
