<app-header [title]="'Admin Panel'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-6 mb-3">
      <h3>Court Data</h3>
      <p>
        <button class="btn btn-primary" (click)="manageEvidence()">
          Manage evidence
        </button>
      </p>
      <p>
        <button class="btn btn-primary" (click)="manageWitnesses()">
          Manage witnesses
        </button>
      </p>
      <p>
        <button class="btn btn-primary" (click)="manageIssues()">
          Manage issues
        </button>
      </p>
      <p>
        <button class="btn btn-primary" (click)="manageCases()">
          Manage cases
        </button>
      </p>
    </div>
    <div class="col-md-6 mb-3">
      <h3>Advanced Settings</h3>
      <p>
        <a
          class="btn btn-primary"
          href="https://aoti-user-management-ui.herokuapp.com/dashboard"
          target="_blank"
        >
          User Management
        </a>
      </p>
    </div>
  </div>
</app-body>
