<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Admin Panel</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3">
      <h3>Court Data</h3>
      <p>
        <button class="btn btn-primary" (click)="manageEvidence()">
          Manage evidence
        </button>
      </p>
      <p>
        <button class="btn btn-primary" (click)="manageWitnesses()">
          Manage witnesses
        </button>
      </p>
      <p>
        <button class="btn btn-primary" (click)="manageIssues()">
          Manage issues
        </button>
      </p>
      <p>
        <button class="btn btn-primary" (click)="manageCases()">
          Manage cases
        </button>
      </p>
    </div>
    <div class="col-md-6 mb-3">
      <h3>Advanced Settings</h3>
      <p>
        <a
          class="btn btn-primary"
          href="https://aoti-user-management-ui.herokuapp.com/dashboard"
          target="_blank"
        >
          User Management
        </a>
      </p>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
