<app-body>
  <div class="row">
    <div class="col-md-8 mx-auto my-3 text-center">
      <app-card [title]="'Create a Case'">
        <hr>
        <label for="issue-select">
          Do you want a randomly generated issue or would you rather provide your own?
        </label>
        <div id="issue-select">
          <button class="btn btn-secondary mx-2 my-2" (click)="selectRandom()">
            <i class="fa fa-check" *ngIf="!customSelected"></i>
            Random Issue (Standard)
          </button>
          <button class="btn btn-secondary mx-2 my-2" (click)="selectCustom()">
            <i class="fa fa-check" *ngIf="customSelected"></i>
            Custom Issue (Advanced)
          </button>
        </div>
        <div class="row mt-3" id="custom-issue-input" *ngIf="customSelected">
          <div class="col-md-6 mx-auto">
            <label for="custom-issue">
              <strong>
                The Plaintiff Claims that The Defendant...
              </strong>
            </label>
            <input class="form-control" type="text" id="custom-issue" name="customIssue"
                   [(ngModel)]="caseOptions.customIssue"/>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 mx-auto">
            <button class="btn btn-success btn-block" (click)="create()" [disabled]="incomplete">
              Create Case
            </button>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</app-body>
