<ng-container *ngIf="ready; else notReady">
  <app-body>
    <div class="row">
      <div class="col-md-8 mx-auto my-3 text-center">
        <app-card [title]="title">
          <hr>
          <form>
            <section id="issue-name">
              <label for="issue">
                The Plaintiff claims that The Defendant...
              </label>
              <br>
              <textarea
                id="issue"
                rows="8"
                cols="50"
                (change)="updateName($event)"
              >{{ issue.name }}</textarea
              >
            </section>
            <hr/>
            <div class="alert alert-warning" *ngIf="showErrors && !valid">
              <p>Please correct the following errors:</p>
              <ul>
                <li *ngFor="let error of errors">
                  {{ error }}
                </li>
              </ul>
            </div>
            <button class="btn btn-success" (click)="submit()">
              Save Issue
            </button>
          </form>
        </app-card>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
