<ng-container *ngIf="ready; else notReady">
  <app-header [title]="title"></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3">
        <form>
          <section id="issue-name">
            1. Issue name:
            <br />
            <input
              type="text"
              name="issueName"
              [(ngModel)]="issue.name"
            /><br /><br />
          </section>
          <section id="issue-description">
            2. Issue description:
            <br />
            <textarea
              rows="20"
              cols="50"
              (change)="updateDescription($event)"
              >{{ issue.description }}</textarea
            ><br /><br />
          </section>
          <hr />
          <div class="error-report" *ngIf="showErrors && !valid">
            <p>Please correct the following errors:</p>
            <ul>
              <li *ngFor="let error of errors">
                {{ error }}
              </li>
            </ul>
          </div>
          <button class="btn btn-primary" (click)="submit()">
            Save Issue
          </button>
        </form>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
