<ng-container *ngIf="ready; else notReady">
  <app-header [title]="title"></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3">
        <form>
          <section id="witness-name">
            1. Witness name:
            <input
              type="text"
              name="witnessName"
              [(ngModel)]="witness.name"
            /><br /><br />
          </section>
          <hr />
          <div class="error-report" *ngIf="showErrors && !valid">
            <p>Please correct the following errors:</p>
            <ul>
              <li *ngFor="let error of errors">
                {{ error }}
              </li>
            </ul>
          </div>
          <button class="btn btn-primary" (click)="submit()">
            Save Witness
          </button>
        </form>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
