<app-header [title]="'Case Overview'"></app-header>
<app-body>
  <ng-container *ngIf="ready; else loading">
    <h3 class="text-center pt-2">Open Cases</h3>
    <app-case-table [cases]="sortedCases.openCases"></app-case-table>
    <h3 class="text-center pt-2">Limbo Cases</h3>
    <app-case-table [cases]="sortedCases.limboCases"></app-case-table>
    <h3 class="text-center pt-2">Closed Cases</h3>
    <app-case-table [cases]="sortedCases.closedCases"></app-case-table>
  </ng-container>
</app-body>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
