<ng-container *ngIf="ready; else loading">
  <app-body>
    <div class="row">
      <div class="col-md-12 mx-auto my-3">
        <app-card>
          <app-case-header></app-case-header>
          <hr>
          <app-revealed-evidence></app-revealed-evidence>
        </app-card>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <app-body>
    <div class="row">
      <div class="col-md-12">
        <app-loading [message]="'Loading case details...'"></app-loading>
      </div>
    </div>
  </app-body>
</ng-template>
