<ng-container *ngIf="ready; else loading">
  <app-header
    [title]="'Archived Case'"
    [subtitle]="'This case has been closed.'"
  ></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3">
        <app-revelations [caseId]="caseId"></app-revelations>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <app-body>
    <div class="row">
      <div class="col-md-12">
        <app-loading [message]="'Loading case details...'"></app-loading>
      </div>
    </div>
  </app-body>
</ng-template>
