<ng-container *ngIf="ready; else loading">
  <app-body>
    <div class="row">
      <div class="col-md-12 mx-auto my-3">
        <app-card>
          <app-case-header></app-case-header>
          <hr>
          <ng-container *ngIf="showFeedbackPrompt">
            <div class="row justify-content-around">
              <div class="col-md-7">
                <app-modal-trigger-button [block]="true" [boxId]="'feedback'">
                  <i class="fa fa-comments">
                  </i>
                  Give Feedback
                </app-modal-trigger-button>
              </div>
              <div class="col-md-5">
                <button class="btn btn-block btn-outline-primary" (click)="hidePrompt()">
                  <i class="fa fa-times"></i>
                  Do Not Give Feedback
                </button>
              </div>
            </div>
            <hr>
          </ng-container>
          <app-revealed-evidence></app-revealed-evidence>
        </app-card>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <app-body>
    <div class="row">
      <div class="col-md-12">
        <app-loading [message]="'Loading case details...'"></app-loading>
      </div>
    </div>
  </app-body>
</ng-template>

<app-modal-box-advanced [title]="'Feedback'" [boxId]="'feedback'">
  <section class="mb-3">
    <label for="email">
      Your Email:
    </label>
    <input id="email" name="email" type="text" class="form-control" [(ngModel)]="email">
  </section>
  <section class="mb-3">
    <label for="feedback">
      Your Feedback:
    </label>
    <input id="feedback" name="email" type="text" class="form-control" [(ngModel)]="message">
  </section>
  <hr>
  <button class="btn btn-primary btn-block" (click)="submitFeedback()" data-dismiss="modal">
    Submit Feedback
  </button>
</app-modal-box-advanced>
