<ng-container *ngIf="ready; else notReady">
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3 text-center">
        <app-card [autoHeight]="false">
          <h3>The Case of the {{case.name}}</h3>
          <hr>
          <h4>Issue</h4>
          <p>
            <strong>
              The Plaintiff claims that The Defendant
            </strong>
            {{ case.issue }}
          </p>
          <hr>
          <h4>Verdict</h4>
          <p>
            <strong>
              The Defendant is Guilty
            </strong>
            {{ case.isDefendantGuilty }}
          </p>
          <hr>
          <p>
            <small>id: {{ case._id }}</small>
          </p>
        </app-card>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
