<ng-container *ngIf="ready; else notReady">
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3">
        <h1>The Case of The {{ case.name }}</h1>
        <hr />
        <h2>Issue</h2>
        <p>
          <strong>
            The Plaintiff claims that The Defendant
          </strong>
          {{ case.issue.name }}
        </p>
        <hr />
        <h2>Witnesses</h2>
        <ol>
          <li *ngFor="let witness of case.witnesses">
            {{ witness.name }}
          </li>
        </ol>
        <hr />
        <h2>Pool Plaintiff Evidence</h2>
        <ol>
          <li *ngFor="let evidence of case.poolPlaintiffEvidence">
            {{ evidence.name }}
          </li>
        </ol>
        <hr />
        <h2>Unrevealed Plaintiff Evidence</h2>
        <ol>
          <li *ngFor="let evidence of case.unrevealedPlaintiffEvidence">
            {{ evidence.name }}
          </li>
        </ol>
        <hr />
        <h2>Revealed Plaintiff Evidence</h2>
        <ol>
          <li *ngFor="let evidence of case.revealedPlaintiffEvidence">
            {{ evidence.name }}
          </li>
        </ol>
        <hr />
        <h2>Pool Defendant Evidence</h2>
        <ol>
          <li *ngFor="let evidence of case.poolDefendantEvidence">
            {{ evidence.name }}
          </li>
        </ol>
        <hr />
        <h2>Unrevealed Defendant Evidence</h2>
        <ol>
          <li *ngFor="let evidence of case.unrevealedDefendantEvidence">
            {{ evidence.name }}
          </li>
        </ol>
        <hr />
        <h2>Revealed Defendant Evidence</h2>
        <ol>
          <li *ngFor="let evidence of case.revealedDefendantEvidence">
            {{ evidence.name }}
          </li>
        </ol>
        <hr />
        <p>
          <small>id: {{ case._id }}</small>
        </p>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
