<ng-container *ngIf="ready; else loading">
  <app-header [title]="'Witness'"></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-6 my-3">
        <h3 class="text-center">Role</h3>
        <div class="mb-3">
          <app-card
            [autoHeight]="false"
            [title]="'Witness Role Explanation'"
            [icon]="'fa-book'"
          >
            <ul>
              <li>
                When the judge orders you to reveal a witness, choose a witness
                to reveal and then act as that witness!
              </li>
              <li>
                As a witness, you must provide a reason for being in court.
                Usually, this involves connecting your backstory to the case.
              </li>
              <li>
                You can pick a side, remain neutral, or just cause chaos. Up to
                you!
              </li>
            </ul>
          </app-card>
        </div>
        <h3 class="text-center" *ngIf="case.unrevealedWitnesses.length > 0">
          Unrevealed Witnesses
        </h3>
        <div
          class="card my-2 border-primary"
          *ngFor="let witness of case.unrevealedWitnesses"
        >
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-users"></i>
              {{ witness.name }}
            </h5>
            <button class="btn btn-secondary" (click)="revealWitness(witness)">
              Reveal to the Court
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</ng-template>
