<app-body>
  <div class="row">
    <div class="col-md-10 mx-auto my-3 text-center">
      <app-card>
        <app-case-header *ngIf="caseLoaded"></app-case-header>
        <hr>
        <p>
          ROLE TEXT HERE.
        </p>
        <hr>
        <ng-container [ngTemplateOutlet]="loadingSection" *ngIf="waiting"></ng-container>
        <ng-container *ngIf="caseLoaded">
          <div id="back-to-role-select" *ngIf="assigningRoles">
            <p>
              <button class="btn btn-secondary" (click)="backToRoleSelect()">
                <i class="fa fa-arrow-left">
                </i>
                Back to Role Select
              </button>
            </p>
            <app-cast></app-cast>
          </div>
          <div
            id="select-evidence"
            class="mb-3"
            *ngIf="showEvidencePool"
          >
            <app-card [title]="'Select Your Evidence'" [icon]="'fa-search'">
              <p>Select 5 pieces of evidence to use in this case.</p>
              <p>({{ unrevealedEvidence.length }} of 5 selected)</p>
              <ul class="list-group">
                <li
                  class="list-group-item"
                  *ngFor="let evidence of evidencePool"
                >
                  <h6>
                    <i class="fa fa-search"></i>
                    {{ evidence.name }}
                    <button
                      class="btn btn-secondary pull-right"
                      (click)="selectEvidence(evidence)"
                    >
                      Select Evidence
                    </button>
                  </h6>
                </li>
              </ul>
            </app-card>
          </div>
          <div id="selected-evidence" *ngIf="showEvidenceRow">
            <div class="row">
              <div class="col-md-6" *ngIf="someEvidenceSelected">
                <h5>
                  <i class="fa fa-user-circle-o"></i>
                  <i class="fa fa-search"></i>
                  Your Evidence
                </h5>
                <p>{{ evidenceHelp }}</p>
                <ul class="list-group">
                  <li
                    class="list-group-item"
                    *ngFor="let evidence of unrevealedEvidence"
                  >
                    <h6 class="card-title">
                      <i class="fa fa-search"></i>
                      {{ evidence.name }}
                      <button
                        *ngIf="canRevealEvidence"
                        class="btn btn-secondary btn-small pull-right"
                        (click)="revealEvidence(evidence)"
                      >
                        Reveal to the Court
                      </button>
                    </h6>
                  </li>
                  <li
                    class="list-group-item"
                    *ngFor="let evidence of revealedEvidence"
                  >
                    <h6 class="card-title">
                      <i class="fa fa-search"></i>
                      {{ evidence.name }}
                      <span class="pull-right">
                    (revealed)
                  </span>
                    </h6>
                  </li>
                </ul>
              </div>
              <div class="col-md-6" *ngIf="showOtherEvidence">
                <app-revealed-evidence-list [icon]="'fa-user-circle'"
                                            [listName]="otherListName"
                                            [revealedEvidence]="otherEvidence">
                </app-revealed-evidence-list>
              </div>
            </div>
          </div>
        </ng-container>
      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loadingSection>
  <i class="fa fa-hourglass fa-spin fa-4x my-3"></i>
  <h5 class="card-title">
    {{waitMessage}}
  </h5>
</ng-template>
