<ng-container *ngIf="hasAName; else nobody">
  <h5>Starring...</h5>
  <ul class="list-group">
    <li class="list-group-item" *ngIf="hasJudgeName">
      {{ judgeName }}
      <em>
        as THE JUDGE
      </em>
      <i class="fa fa-balance-scale pull-right"></i>
    </li>
    <li class="list-group-item" *ngIf="hasPlaintiffName">
      {{ plaintiffName }}
      <em>
        as THE PLAINTIFF
      </em>
      <i class="fa fa-user-circle-o pull-right"></i>
    </li>
    <li class="list-group-item" *ngIf="hasDefendantName">
      {{ defendantName }}
      <em>
        as THE DEFENDANT
      </em>
      <i class="fa fa-user-circle pull-right"></i>
    </li>
    <li class="list-group-item" *ngFor="let witness of witnesses">
      {{ witness.name }}
      <em> as witness: {{ witness.character.name }} </em>
      <i class="fa fa-user pull-right"></i>
    </li>
  </ul>
</ng-container>

<ng-template #nobody>
  <p>No players have picked roles yet.</p>
</ng-template>
