<ng-container *ngIf="ready; else loading">
  <div class="row" *ngIf="!hasCase">
    <div class="col-md-12 my-3">
      <div class="card border-primary">
        <p class="mx-2 my-2">
          No cases available.
        </p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="hasCase">
    <div class="row" *ngIf="showTopCases">
      <div class="col-md-12">
        <h2 class="text-center">Recent Cases</h2>
      </div>
      <div class="col-md-6 my-3" *ngFor="let case of topCases">
        <app-card [title]="'The Case of the ' + case.name">
          <div class="card-body">
            Case Opened on {{ case.openedDate | date }}
            <br />
            <br />
            <button class="btn btn-primary" (click)="goToCourtroom(case)">
              <i class="fa fa-sign-in"></i>
              Join Case
            </button>
          </div>
        </app-card>
      </div>
      <div class="col-md-12 my-3">
        <hr />
      </div>
    </div>
    <div class="row" *ngIf="showTableCases">
      <div class="col-md-12 my-3" *ngIf="!adminMode">
        <h2 class="text-center">
          Other Cases
        </h2>
      </div>
      <div class="col-md-12 my-3">
        <div class="card border-primary">
          <p *ngIf="adminMode" class="mx-2 my-2">
            <small>Showing {{ casesForTable.length }} case(s)</small>
          </p>
          <table class="table">
            <thead>
              <tr>
                <th *ngIf="!adminMode">#</th>
                <th>Case Name</th>
                <th *ngIf="!adminMode">Join</th>
                <th>Case Created On:</th>
                <ng-container *ngIf="adminMode">
                  <th>Details</th>
                  <th>Delete</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let case of casesForTable; let i = index">
                <th *ngIf="!adminMode">{{ i + 1 }}</th>
                <td>The Case of the {{ case.name }}</td>
                <td *ngIf="!adminMode">
                  <button class="btn btn-primary" (click)="goToCourtroom(case)">
                    <i class="fa fa-sign-in"></i>
                    Join Case
                  </button>
                </td>
                <td>{{ case.openedDate | date }}</td>
                <ng-container *ngIf="adminMode">
                  <td>
                    <button
                      class="btn btn-secondary"
                      (click)="goToCaseDetails(case)"
                    >
                      Details
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-secondary"
                      (click)="requestDelete(case)"
                    >
                      Delete
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="row">
    <div class="col-md-12">
      <app-loading [message]="'Loading cases...'"></app-loading>
    </div>
  </div>
</ng-template>
