.court-bg {
  //https://unsplash.com/photos/HpmDAS1Dozs
  background-image: url('../../../assets/court.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}

.stretch {
  min-height: 450px;
}
