<app-body>
  <div class="row">
    <div class="col-md-8 mx-auto my-3 text-center">
      <app-card [title]="'View Random Content'" [autoHeight]="false">
        <ng-container *ngIf="ready; else loading">
          <div class="list-group">
            <a class="list-group-item list-group-item-action" data-toggle="modal"
               href="#evidence">
              <i class="fa fa-search"></i>
              See All Evidence
            </a>
            <a class="list-group-item list-group-item-action" data-toggle="modal"
               href="#witness">
              <i class="fa fa-users"></i>
              See All Witnesses
            </a>
            <a class="list-group-item list-group-item-action" data-toggle="modal"
               href="#issue">
              <i class="fa fa-book"></i>
              See All Issues
            </a>
          </div>
        </ng-container>
      </app-card>
      <br>
      <app-card [title]="'Suggest Content'" *ngIf="ready" [autoHeight]="false">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" data-toggle="modal"
             href="#suggestion" (click)="setSuggestionType('Evidence')">
            <i class="fa fa-search"></i>
            Suggest Evidence
          </a>
          <a class="list-group-item list-group-item-action" data-toggle="modal"
             href="#suggestion" (click)="setSuggestionType('Witness')">
            <i class="fa fa-users"></i>
            Suggest Witnesses
          </a>
          <a class="list-group-item list-group-item-action" data-toggle="modal"
             href="#suggestion" (click)="setSuggestionType('Issue')">
            <i class="fa fa-book"></i>
            Suggest Issues
          </a>
        </div>
      </app-card>
    </div>
  </div>
</app-body>

<app-basic-modal-box [boxId]="'evidence'" [title]="'All Evidence'" *ngIf="ready">
  <small>Showing {{evidences.length}} piece(s) of evidence...</small>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let evidence of evidences">
      {{evidence.name}}
    </li>
  </ul>
</app-basic-modal-box>

<app-basic-modal-box [boxId]="'witness'" [title]="'All Witnesses'" *ngIf="ready">
  <small>Showing {{witnesses.length}} witness(es)...</small>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let witness of witnesses">
      {{witness.name}}
    </li>
  </ul>
</app-basic-modal-box>

<app-basic-modal-box [boxId]="'issue'" [title]="'All Issues'" *ngIf="ready">
  <small>Showing {{issues.length}} issue(s)...</small>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let issue of issues">
      {{issue.name}}
    </li>
  </ul>
</app-basic-modal-box>

<app-advanced-modal-box [boxId]="'suggestion'" [title]="'Suggestion: ' + suggestionType" *ngIf="ready">
  <section id="suggestion">
    Your Suggestion:
    <br/>
    <textarea rows="10" cols="50" (keyup)="updateSuggestion($event)">{{
      suggestion
      }}</textarea
    ><br/><br/>
    <button class="btn btn-primary btn-block" (click)="send()" [disabled]="!suggestion" data-dismiss="modal">
      Send Message
    </button>
  </section>
</app-advanced-modal-box>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
