<app-body>
  <div class="row">
    <div class="col-md-10 mx-auto my-3 text-center">
      <app-card>
        <app-case-header *ngIf="caseLoaded; else loadingSection"></app-case-header>
        <hr>
        <ng-container *ngIf="caseLoaded">
          <ng-container [ngTemplateOutlet]="loadingSection" *ngIf="waitingNotForRoles"></ng-container>
          <div id="role-assignment" *ngIf="assigningRoles">
            <div class="row">
              <div class="col-md-6">
                <app-cast></app-cast>
              </div>
              <div class="col-md-6">
                <ng-container [ngTemplateOutlet]="loadingSection" *ngIf="waitingForRoles"></ng-container>
                <br>
                <p>
                  <button class="btn btn-secondary" (click)="backToRoleSelect()">
                    <i class="fa fa-arrow-left">
                    </i>
                    Pick Different Role
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div
            id="select-witness"
            class="mb-3"
            *ngIf="showWitnessPool"
          >
            <hr>
            <h5>
              <i class="fa fa-user-secret"></i>
              Select Your Witness
            </h5>
            <p>Select which witness you'd like to play as.</p>
            <div class="row">
              <div class="col-md-4 my-2"
                   *ngFor="let witness of witnessPool">
                <a
                  (click)="selectWitness(witness)"
                >
                  <app-card [useHover]="true">
                    <h6>
                      <i class="fa fa-user-secret"></i>
                      {{ witness.name }}
                    </h6>
                  </app-card>
                </a>
              </div>
            </div>
          </div>
          <div id="case-in-progress" *ngIf="shouldShowEvidence">
            <app-revealed-evidence></app-revealed-evidence>
          </div>
          <div id="role-help">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h5>Witness #{{myWitness.witnessNumber}} Role</h5>
                <p>
                  {{roleText}}
                </p>
              </div>
              <div class="col-md-6">
                <h6>Witness Identities</h6>
                <p *ngIf="assigningRoles">
                  Witness identities will be revealed after the roles have been locked.
                </p>
                <ul class="list-group" *ngIf="!assigningRoles">
                  <li class="list-group-item" *ngFor="let witness of witnesses">
                    <strong>
                      {{witness.name}}
                    </strong>
                    as
                    <strong>
                      {{witness.character}}
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </ng-container>
      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loadingSection>
  <i class="fa fa-hourglass fa-spin fa-4x my-3"></i>
  <h5 class="card-title">
    {{waitMessage}}
  </h5>
</ng-template>
