<ng-container *ngIf="ready; else loading">
  <h3 class="text-center">Case Details</h3>
  <div class="CASE-OVERVIEW mb-3">
    <app-card [title]="'The Case of the ' + case.name" [icon]="'fa-tag'">
      <hr />
      <h5>
        <i class="fa fa-book"></i>
        Issue: {{ case.issue.name }}
      </h5>
      <p>{{ case.issue.description }}</p>
      <ng-container *ngIf="case.closed">
        <hr />
        <h5>
          <i class="fa fa-gavel"></i>
          The defendant was found
          <span *ngIf="case.closed && !case.isDefendantGuilty">
            NOT
          </span>
          GUILTY.
        </h5>
      </ng-container>
    </app-card>
  </div>
  <div class="CASE-ROLES mb-3">
    <app-card>
      <h5>
        <i class="fa fa-balance-scale"></i>
        Starring {{ judgeName }} as THE JUDGE
      </h5>
      <hr />
      <h5>
        <i class="fa fa-user-circle-o"></i>
        Starring {{ plaintiffName }} as THE PLAINTIFF
      </h5>
      <hr />
      <h5>
        <i class="fa fa-user-circle"></i>
        Starring {{ defendantName }} as THE DEFENDANT
      </h5>
      <hr />
      <h5>
        <i class="fa fa-users"></i>
        And THE WITNESSES
      </h5>
      <h5 *ngFor="let witness of witnesses">
        {{ witness.name }} as {{ witness.character }}
      </h5>
    </app-card>
  </div>
  <div class="CASE-EVIDENCE mb-3">
    <app-card>
      <h5>
        <i class="fa fa-user-circle-o"></i>
        <i class="fa fa-search"></i>
        Plaintiff Evidence
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ case.revealedPlaintiffEvidence.length }} of
        {{
          case.revealedPlaintiffEvidence.length +
            case.unrevealedPlaintiffEvidence.length
        }}
        revealed
      </h6>
      <div class="card-text">
        <p *ngIf="case.revealedPlaintiffEvidence.length === 0">
          No plaintiff evidence has been revealed yet.
        </p>
        <ol>
          <li *ngFor="let evidence of case.revealedPlaintiffEvidence">
            {{ evidence.name }}
          </li>
        </ol>
      </div>
      <hr />
      <h5>
        <i class="fa fa-user-circle"></i>
        <i class="fa fa-search"></i>
        Defendant Evidence
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ case.revealedDefendantEvidence.length }} of
        {{
          case.revealedDefendantEvidence.length +
            case.unrevealedDefendantEvidence.length
        }}
        revealed
      </h6>
      <div class="card-text">
        <p *ngIf="case.revealedDefendantEvidence.length === 0">
          No defendant evidence has been revealed yet.
        </p>
        <ol>
          <li *ngFor="let evidence of case.revealedDefendantEvidence">
            {{ evidence.name }}
          </li>
        </ol>
      </div>
    </app-card>
  </div>
  <div class="CASE-TIMELINE mb-3">
    <app-card [title]="'Case Timeline'" [icon]="'fa-calendar'">
      <p>Case opened on {{ case.openedDate | date }}.</p>
      <p *ngIf="case.closedDate">
        Case closed on {{ case.closedDate | date }}.
      </p>
    </app-card>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
