<ng-container *ngIf="ready; else loading">
  <div class="card border-dark mb-3" *ngIf="case.closed">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa fa-gavel"></i>
        Verdict
      </h5>
      <p *ngIf="case.closed && case.isDefendantGuilty">
        The defendant was found GUILTY.
      </p>
      <p *ngIf="case.closed && !case.isDefendantGuilty">
        The defendant was found NOT GUILTY.
      </p>
      <p class="card-text">
        {{ case.verdict }}
      </p>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa fa-book"></i>
        Issue: {{ case.issue.name }}
      </h5>
      <p class="card-text">
        {{ case.issue.description }}
      </p>
    </div>
  </div>
  <div
    class="card border-dark mb-3"
    *ngIf="case.revealedWitnesses.length + case.unrevealedWitnesses.length > 0"
  >
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa fa-users"></i>
        Witnesses
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ case.revealedWitnesses.length }} of
        {{ case.revealedWitnesses.length + case.unrevealedWitnesses.length }}
        revealed
      </h6>
      <div class="card-text">
        <p *ngIf="case.revealedWitnesses.length === 0">
          No witnesses revealed yet.
        </p>
        <ol>
          <li *ngFor="let witness of case.revealedWitnesses">
            {{ witness.name }}
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa fa-search"></i>
        Plaintiff Evidence
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ case.revealedPlaintiffEvidence.length }} of
        {{
          case.revealedPlaintiffEvidence.length +
            case.unrevealedPlaintiffEvidence.length
        }}
        revealed
      </h6>
      <div class="card-text">
        <p *ngIf="case.revealedPlaintiffEvidence.length === 0">
          No plaintiff evidence has been revealed yet.
        </p>
        <ol>
          <li *ngFor="let evidence of case.revealedPlaintiffEvidence">
            {{ evidence.name }}
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa fa-search"></i>
        Defendant Evidence
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ case.revealedDefendantEvidence.length }} of
        {{
          case.revealedDefendantEvidence.length +
            case.unrevealedDefendantEvidence.length
        }}
        revealed
      </h6>
      <div class="card-text">
        <p *ngIf="case.revealedDefendantEvidence.length === 0">
          No defendant evidence has been revealed yet.
        </p>
        <ol>
          <li *ngFor="let evidence of case.revealedDefendantEvidence">
            {{ evidence.name }}
          </li>
        </ol>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
