<ng-container *ngIf="ready; else loading">
  <h3 class="text-center">Case Details</h3>
  <div class="CASE-OVERVIEW my-3">
    <app-card [title]="'The Case of the ' + case.name" [icon]="'fa-tag'">
      <p class="text-center">
        <strong>Issue:</strong>
        The Plaintiff claims that The Defendant {{ case.issue.name }}
      </p>
      <ng-container *ngIf="caseClosed">
        <hr/>
        <h5>
          <i class="fa fa-gavel"></i>
          The defendant was found
          <span *ngIf="caseClosed && !case.isDefendantGuilty">
            NOT
          </span>
          GUILTY.
        </h5>
      </ng-container>
    </app-card>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
