<ng-container *ngIf="ready; else notReady">
  <div class="header">
    <h1>
      <span *ngIf="editMode">Edit Widget</span>
      <span *ngIf="!editMode">Create Widget</span>
    </h1>
    <hr />
  </div>
  <div class="body">
    <form>
      <section id="widget-name">
        1. Widget name:
        <input
          type="text"
          name="widgetName"
          [(ngModel)]="widget.name"
        /><br /><br />
      </section>
      <section id="widget-type">
        2. Widget type:
        <input
          type="text"
          name="widgetType"
          [(ngModel)]="widget.type"
        /><br /><br />
      </section>
      <section id="widget-age">
        3. Widget age:
        <input
          type="number"
          name="widgetAge"
          [(ngModel)]="widget.age"
        /><br /><br />
      </section>
      <section id="widget-condition">
        4. Widget condition:
        <input
          type="checkbox"
          name="widgetCondition"
          [(ngModel)]="widget.used"
        />Used <br /><br />
      </section>
      <section id="widget-description">
        5. Widget description:
        <br />
        <textarea
          rows="4"
          cols="50"
          name="widgetDescription"
          [(ngModel)]="widget.description"
        >
        </textarea>
      </section>
      <hr />
      <div class="error-report" *ngIf="showErrors && !valid">
        <p>Please correct the following errors:</p>
        <ul>
          <li *ngFor="let error of errors">
            {{ error }}
          </li>
        </ul>
      </div>
      <button (click)="submit()">
        Save Widget
      </button>
    </form>
  </div>
</ng-container>

<ng-template #notReady>
  <p>Loading...</p>
</ng-template>
