<app-header [title]="'Your Profile'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-6 my-3">
      <p>
        <strong>
          email:
        </strong>
        {{ email }}
      </p>
      <p>
        <strong>
          admin:
        </strong>
        {{ admin }}
      </p>
      <p>
        <strong>
          special access:
        </strong>
        {{ specialAccess }}
      </p>
    </div>
    <div class="col-md-6 my-3">
      <p>
        <a
          class="btn btn-primary"
          href="https://aoti-user-management-ui.herokuapp.com/"
          target="_blank"
        >
          Edit Your Profile
        </a>
      </p>
    </div>
  </div>
</app-body>
