<app-header [title]="'Your Profile'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-6 my-3">
      <p>
        <strong>
          email:
        </strong>
        {{ email }}
      </p>
      <p>
        <strong>
          admin:
        </strong>
        {{ admin }}
      </p>
      <p>
        <strong>
          special access:
        </strong>
        {{ specialAccess }}
      </p>
    </div>
    <div class="col-md-6 my-3">
      <p>
        <button class="btn btn-primary" (click)="editEmail()">
          Edit your email
        </button>
      </p>
      <p>
        <button class="btn btn-primary" (click)="editPassword()">
          Edit your password
        </button>
      </p>
    </div>
  </div>
</app-body>
