<app-body>
  <div class="row">
    <div class="col-md-8 mx-auto my-3 text-center">
      <app-card [title]="'Extras'">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" (click)="goToArchive()">
            <i class="fa fa-archive"></i>
            Case Archive
          </a>
          <a class="list-group-item list-group-item-action" (click)="goToRules()">
            <i class="fa fa-book"></i>
            Rules
          </a>
          <a class="list-group-item list-group-item-action" (click)="goToInfo()">
            <i class="fa fa-info-circle"></i>
            App Information
          </a>
          <a class="list-group-item list-group-item-action" (click)="goToSuggestions()">
            <i class="fa fa-comments"></i>
            Suggest Content
          </a>
          <a class="list-group-item list-group-item-action" (click)="goToCredits()">
            <i class="fa fa-list"></i>
            Credits
          </a>
          <a class="list-group-item list-group-item-action" (click)="goToRandomContent()">
            <i class="fa fa-random"></i>
            Random Content
          </a>
          <a class="list-group-item list-group-item-action"
             href="https://aoti-app-hub.herokuapp.com/donate"
             target="_blank">
            <i class="fa fa-money"></i>
            Donate to Charity
          </a>
          <a class="list-group-item list-group-item-action"
             href="http://www.adamontheinternet.com/contact"
             target="_blank"
          >
            <i class="fa fa-envelope"></i>
            Give Feedback
          </a>
        </div>
      </app-card>
    </div>
  </div>
</app-body>
