<app-body>
  <div class="row">
    <div class="col-md-8 mx-auto my-3 text-center">
      <app-card [title]="'Credits'">
        <p>Developed by Adam Callanan</p>
        <p>Idea by Adam Callanan & Lindsey Applegate</p>
        <p>Special Thanks to the Playtesters:</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let playtester of playtesters">
            {{playtester}}
          </li>
        </ul>
        <br>
        <p>
          Background Image from Unsplash by David Veksler (https://unsplash.com/photos/HpmDAS1Dozs)
        </p>
      </app-card>
    </div>
  </div>
</app-body>
