<app-body>
  <div class="row">
    <div class="col-md-10 mx-auto my-3 text-center">
      <ng-container *ngIf="caseLoaded; else loadingCard">
        <div id="pick-name-card">
          <app-card>
            <app-case-header></app-case-header>

            <div id="pick-name" *ngIf="showPickName">
              <hr>
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <h4>
                    <label for="name-input">
                      What name do you want to use?
                    </label>
                  </h4>
                  <input class="form-control" type="text" id="name-input" name="playerName" [(ngModel)]="playerName"/>
                  <br>
                  <div class="alert alert-warning" *ngIf="!hasPlayerName">
                    You must enter a name to continue.
                  </div>
                  <button
                    class="btn btn-primary btn-large"
                    (click)="pickName()"
                    [disabled]="!hasPlayerName"
                  >
                    Continue
                    <i class="fa fa-arrow-right"></i>
                  </button>
                </div>
              </div>
            </div>

            <div id="pick-role" *ngIf="showPickRole">
              <hr>
              <h4>
                <label for="role-input">
                  Choose Your Role
                </label>
              </h4>
              <div id="role-input">
                <div class="row justify-content-center">
                  <div class="col-md-4 my-3" *ngIf="offerJudgeRole">
                    <app-card (click)="pickJudge()" [useHover]="true" [autoHeight]="true">
                      <h5>
                        <i class="fa fa-balance-scale"></i>
                      </h5>
                      <h5>
                        Judge
                      </h5>
                      <p>
                        Direct the case and decide who wins!
                      </p>
                    </app-card>
                  </div>
                  <div class="col-md-4 my-3" *ngIf="offerPlaintiffRole">
                    <app-card (click)="pickPlaintiff()" [useHover]="true" [autoHeight]="true">
                      <h5>
                        <i class="fa fa-user-circle-o"></i>
                      </h5>
                      <h5>
                        Plaintiff
                      </h5>
                      <p>
                        Accuse the defendant of wrongdoing!
                      </p>
                    </app-card>
                  </div>
                  <div class="col-md-4 my-3" *ngIf="offerDefendantRole">
                    <app-card (click)="pickDefendant()" [useHover]="true" [autoHeight]="true">
                      <h5>
                        <i class="fa fa-user-circle"></i>
                      </h5>
                      <h5>
                        Defendant
                      </h5>
                      <p>
                        Defend yourself from the plaintiff's claim!
                      </p>
                    </app-card>
                  </div>
                  <ng-container *ngIf="offerNonessentialRoles">
                    <div class="col-md-4 my-3" *ngFor="let witness of availableWitnesses">
                      <app-card (click)="pickWitness(witness)" [useHover]="true" [autoHeight]="true">
                        <h5>
                          <i class="fa fa-user-secret"></i>
                        </h5>
                        <h5>
                          Witness #{{witness}}
                        </h5>
                        <p>
                          Provide testimony for the case!
                        </p>
                      </app-card>
                    </div>
                    <div class="col-md-4 my-3">
                      <app-card (click)="pickJury()" [useHover]="true" [autoHeight]="true">
                        <h5>
                          <i class="fa fa-eye"></i>
                        </h5>
                        <h5>
                          Jury
                        </h5>
                        <p>
                          Watch the case unfold!
                        </p>
                      </app-card>
                    </div>
                  </ng-container>
                </div>
                <div class="row" *ngIf="!offerNonessentialRoles">
                  <div class="col-md-12">
                    <div class="alert alert-info">
                      <i class="fa fa-lock"></i>
                      More roles will become available after Plaintiff, Defendant, and Judge roles are taken!
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="pick-rejoin" *ngIf="showPickRejoin">
              <hr>
              <h3 class="text-center">
                Rejoin
              </h3>
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <button
                    class="btn btn-outline-primary btn-block"
                    (click)="returnJudge()"
                    *ngIf="hasJudgeName"
                  >
                    <i class="fa fa-balance-scale"></i>
                    Return as the Judge
                  </button>
                  <button
                    class="btn btn-outline-primary btn-block"
                    (click)="returnPlaintiff()"
                    *ngIf="hasPlaintiffName"
                  >
                    <i class="fa fa-user-circle-o"></i>
                    Return as the Plaintiff
                  </button>
                  <button
                    class="btn btn-outline-primary btn-block"
                    (click)="returnDefendant()"
                    *ngIf="hasDefendantName"
                  >
                    <i class="fa fa-user-circle"></i>
                    Return as the Defendant
                  </button>
                  <button
                    class="btn btn-outline-primary btn-block"
                    (click)="returnWitness(witness)"
                    *ngFor="let witness of witnesses"
                  >
                    <i class="fa fa-users"></i>
                    Return as a Witness #{{witness.witnessNumber}} ({{witness.name}})
                  </button>
                  <button
                    class="btn btn-outline-primary btn-block"
                    (click)="returnJury()"
                  >
                    <i class="fa fa-eye"></i>
                    Return as the Jury
                  </button>
                  <button
                    class="btn btn-outline-primary btn-block"
                    (click)="exitRejoin()"
                    *ngIf="assigningRoles"
                  >
                    <i class="fa fa-arrow-left"></i>
                    Join as New Player
                  </button>
                </div>
              </div>
            </div>

            <div id="rejoin-option" *ngIf="showRejoinOption">
              <hr>
              <h4>
                <label for="name-input">
                  Already in the Game? Rejoin
                </label>
              </h4>
              <button
                class="btn btn-primary btn-large"
                (click)="openRejoin()"
              >
                Rejoin
                <i class="fa fa-refresh"></i>
              </button>
            </div>

          </app-card>
        </div>
      </ng-container>
    </div>
  </div>
</app-body>

<ng-template #loadingCard>
  <app-card>
    <i class="fa fa-hourglass fa-spin fa-4x my-3"></i>
    <h5 class="card-title">
      Loading case...
    </h5>
  </app-card>
</ng-template>
