<app-body>
  <div class="row">
    <div class="col-md-10 mx-auto my-3 text-center">
      <app-card *ngIf="ready; else loadingCard">
        <app-case-header></app-case-header>
        <hr>

        <div id="pick-role">
          <h4>
            <label for="role-input">
              {{playerName}}, Choose Your Role
            </label>
          </h4>
          <div id="role-input">
            <div class="row">
              <div class="col-md-4 my-3" *ngIf="offerJudgeRole">
                <app-card (click)="pickJudge()" [useHover]="true">
                  <h5>
                    <i class="fa fa-balance-scale"></i>
                  </h5>
                  <h5>
                    Judge
                  </h5>
                </app-card>
              </div>
              <div class="col-md-4 my-3" *ngIf="offerPlaintiffRole">
                <app-card (click)="pickPlaintiff()" [useHover]="true">
                  <h5>
                    <i class="fa fa-user-circle-o"></i>
                  </h5>
                  <h5>
                    Plaintiff
                  </h5>
                </app-card>
              </div>
              <div class="col-md-4 my-3" *ngIf="offerDefendantRole">
                <app-card (click)="pickDefendant()" [useHover]="true">
                  <h5>
                    <i class="fa fa-user-circle"></i>
                  </h5>
                  <h5>
                    Defendant
                  </h5>
                </app-card>
              </div>
              <div class="col-md-4 my-3" *ngIf="offerWitnessRole">
                <app-card (click)="pickWitness()" [useHover]="true">
                  <h5>
                    <i class="fa fa-user-secret"></i>
                  </h5>
                  <h5>
                    Witness
                  </h5>
                </app-card>
              </div>
              <div class="col-md-4 my-3">
                <app-card (click)="pickJury()" [useHover]="true">
                  <h5>
                    <i class="fa fa-eye"></i>
                  </h5>
                  <h5>
                    Jury
                  </h5>
                </app-card>
              </div>
            </div>
          </div>
        </div>

        <div id="cast-display">
          <hr>
          <app-cast></app-cast>
        </div>

      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loadingCard>
  <app-card>
    <ng-container [ngTemplateOutlet]="loadingSection"></ng-container>
  </app-card>
</ng-template>

<ng-template #loadingSection>
  <i class="fa fa-hourglass fa-spin fa-4x my-3"></i>
  <h5 class="card-title">
    Waiting...
  </h5>
</ng-template>
