<ng-container *ngIf="ready; else loading">
  <app-header [title]="'Plaintiff'"></app-header>
  <app-body>
    <div class="row">
      <div class="col-md-6 my-3">
        <h3 class="text-center">Role</h3>
        <div class="my-3">
          <app-card
            [autoHeight]="false"
            [title]="'Plaintiff Role'"
            [accordionId]="'plaintiff-role-exp'"
            [icon]="'fa-book'"
          >
            <p>{{ plaintiffRole }}</p>
          </app-card>
        </div>
        <div
          id="select-plaintiff-evidence"
          class="mb-3"
          *ngIf="showEvidencePool"
        >
          <app-card [title]="'Select Your Evidence'" [icon]="'fa-search'">
            <p>Select 5 pieces of evidence to use in this case.</p>
            <p>({{ case.unrevealedPlaintiffEvidence.length }} of 5 selected)</p>
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let evidence of case.poolPlaintiffEvidence"
              >
                <h6>
                  <i class="fa fa-search"></i>
                  {{ evidence.name }}
                  <button
                    class="btn btn-secondary pull-right"
                    (click)="selectEvidence(evidence)"
                  >
                    Select Evidence
                  </button>
                </h6>
              </li>
            </ul>
          </app-card>
        </div>
        <div id="reveal-plaintiff-evidence" *ngIf="showEvidence">
          <app-card [title]="'Your Evidence'" [icon]="'fa-search'">
            <p>{{ evidenceHelp }}</p>
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let evidence of case.unrevealedPlaintiffEvidence"
              >
                <h6 class="card-title">
                  <i class="fa fa-search"></i>
                  {{ evidence.name }}
                  <button
                    *ngIf="!caseUnstarted"
                    class="btn btn-secondary pull-right"
                    (click)="revealEvidence(evidence)"
                  >
                    Reveal to the Court
                  </button>
                </h6>
              </li>
              <li
                class="list-group-item"
                *ngFor="let evidence of case.revealedPlaintiffEvidence"
              >
                <h6 class="card-title">
                  <i class="fa fa-search"></i>
                  {{ evidence.name }}
                  <span class="pull-right">
                    (revealed)
                  </span>
                </h6>
              </li>
            </ul>
          </app-card>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #loading>
  <app-body>
    <div class="row">
      <div class="col-md-12">
        <app-loading></app-loading>
      </div>
    </div>
  </app-body>
</ng-template>
