<ng-container *ngIf="ready; else loading">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ case.name }}: Plaintiff</h1>
      <p>
        You are the plaintiff. Use evidence to prove your accusation against the
        defendant.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <p *ngIf="case.plaintiffEvidence.length === 0">
          You have no evidence left to reveal.
        </p>
        <p *ngIf="case.plaintiffEvidence.length > 0">
          Here is the evidence you have for this case:
        </p>
        <div class="card mb-1" *ngFor="let evidence of case.plaintiffEvidence">
          <div class="card-body">
            <h5 class="card-title">{{ evidence.name }}</h5>
            <button
              class="btn btn-secondary"
              (click)="revealEvidence(evidence)"
            >
              Reveal
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <app-revelations [caseId]="case._id"></app-revelations>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="spinner-border"></div>
        <p>Loading...</p>
      </div>
    </div>
  </div>
</ng-template>
