<div class="header">
  <h1>
    Info
  </h1>
</div>
<div class="content">
  <p>
    This is a basic angular app. I have a fake JSON Api that involves "widgets"
    and a real JSON Api tied to a MongoDB instance that involves "doodads".
  </p>
  <p>
    This repo for this project can be found on github at
    <a target="_blank" href="https://github.com/upandatom96/basic-angular-app">
      https://github.com/upandatom96/basic-angular-app</a
    >.
  </p>
  <app-actuator-report
    [serviceUrl]="basicExpressServiceUrl"
    [serviceName]="'Basic Express Service'"
  ></app-actuator-report>
</div>
