<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Application Information</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <p>
        This is the Order in the Court game app.
      </p>
      <p>
        This repo for this project can be found on github at
        <a
          target="_blank"
          href="https://github.com/upandatom96/order-in-the-court-app"
        >
          https://github.com/upandatom96/order-in-the-court-app</a
        >.
      </p>
      <p>
        Check out more of my work at
        <a href="http://adamontheinternet.com" target="_blank"
          >AdamOnTheInternet.com</a
        >.
      </p>
    </div>
  </div>
</div>
