<div class="row" *ngIf="ready; else loading">
  <div class="col-md-12 my-3">
    <div class="card border-primary">
      <ng-container *ngIf="!hasCase">
        <p class="mx-2 my-2">
          No cases available.
        </p>
      </ng-container>
      <ng-container *ngIf="hasCase">
        <p *ngIf="adminMode" class="mx-2 my-2">
          <small>Showing {{ cases.length }} case(s)</small>
        </p>
        <table class="table">
          <thead>
            <tr>
              <th *ngIf="!adminMode">#</th>
              <th>Case name</th>
              <th *ngIf="!adminMode">Select</th>
              <th>Opened Date</th>
              <th>Closed Date</th>
              <ng-container *ngIf="adminMode">
                <th>Details</th>
                <th>Delete</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let case of cases; let i = index">
              <th *ngIf="!adminMode">{{ i + 1 }}</th>
              <td>{{ case.name }}</td>
              <td *ngIf="!adminMode">
                <button class="btn btn-primary" (click)="goToCourtroom(case)">
                  Select case
                </button>
              </td>
              <td>{{ case.openedDate | date }}</td>
              <td>{{ case.closedDate | date }}</td>
              <ng-container *ngIf="adminMode">
                <td>
                  <button
                    class="btn btn-secondary"
                    (click)="goToCaseDetails(case)"
                  >
                    Details
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-secondary"
                    (click)="requestDelete(case)"
                  >
                    Delete
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-md-12">
      <app-loading [message]="'Loading cases...'"></app-loading>
    </div>
  </div>
</ng-template>
