<app-body>
  <div class="row">
    <div class="col-md-10 mx-auto my-3 text-center">
      <app-card>
        <app-case-header *ngIf="caseLoaded"></app-case-header>
        <ng-container [ngTemplateOutlet]="loadingSection" *ngIf="waiting"></ng-container>
        <ng-container *ngIf="caseLoaded">
          <div id="role-assignment" *ngIf="assigningRoles">
            <p>
              <button class="btn btn-secondary" (click)="backToRoleSelect()">
                <i class="fa fa-arrow-left">
                </i>
                Back to Role Select
              </button>
            </p>
            <p>
              Once all players have joined, continue.
            </p>
            <p *ngIf="showRoleLock">
              <button class="btn btn-success" (click)="lockRoles()">
                Continue
                <i class="fa fa-arrow-right"></i>
              </button>
            </p>
            <app-cast></app-cast>
          </div>
          <div id="pick-structure" *ngIf="showStructureOptions">
            <p>
              Would you like to play the game with a rough structure, or looser?
            </p>
            <p>
              It is recommended to use structure the first play-through.
            </p>
            <p>
              <button class="btn btn-secondary mx-4" (click)="startOpeningArguments()">
                Start Game With Structure
              </button>
              <button class="btn btn-secondary mx-4" (click)="startFreeTime()">
                Start Game Without Structure
              </button>
            </p>
          </div>
          <hr>
          <p>
            Do stuff.
          </p>
        </ng-container>
      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loadingSection>
  <i class="fa fa-hourglass fa-spin fa-4x my-3"></i>
  <h5 class="card-title">
    {{waitMessage}}
  </h5>
</ng-template>
