<app-body>
  <div class="row">
    <div class="col-md-10 mx-auto my-3 text-center">
      <app-card>
        <app-case-header *ngIf="caseLoaded"></app-case-header>
        <hr>
        <p>
          ROLE TEXT HERE
        </p>
        <hr>
        <ng-container [ngTemplateOutlet]="loadingSection" *ngIf="waiting"></ng-container>
        <ng-container *ngIf="caseLoaded">
          <div id="role-assignment" *ngIf="assigningRoles">
            <p>
              <button class="btn btn-secondary" (click)="backToRoleSelect()">
                <i class="fa fa-arrow-left">
                </i>
                Back to Role Select
              </button>
            </p>
            <p>
              Once all players have joined, continue.
            </p>
            <p *ngIf="showRoleLock">
              <button class="btn btn-success" (click)="lockRoles()">
                Continue
                <i class="fa fa-arrow-right"></i>
              </button>
            </p>
            <app-cast></app-cast>
          </div>
          <div id="pick-structure" *ngIf="showStructureOptions">
            <p>
              Would you like to play the game with a rough structure, or looser?
            </p>
            <p>
              It is recommended to use structure the first play-through.
            </p>
            <p>
              <button class="btn btn-secondary mx-4" (click)="startOpeningArguments()">
                Start Game With Structure
              </button>
              <button class="btn btn-secondary mx-4" (click)="startFreeTime()">
                Start Game Without Structure
              </button>
            </p>
          </div>
          <div id="opening-arguments" *ngIf="showOpeningArguments">
            opening arguments
            <p>
              <button class="btn btn-secondary" (click)="endOpeningArguments()">
                End Opening Arguments
              </button>
            </p>
          </div>
          <div id="crossfire" *ngIf="showCrossfire">
            crossfire
            <p>
              <button class="btn btn-secondary" (click)="endCrossfire()">
                End Crossfire
              </button>
            </p>
          </div>
          <div id="closing-arguments" *ngIf="showClosingArguments">
            closing arguments
          </div>
          <div id="show-free-time" *ngIf="showFreeTime">
            freetime
          </div>
          <div id="status-at-end" *ngIf="needEvidenceRevealed">
            <div class="alert alert-info">
              To close the case, all evidence must be revealed.
            </div>
          </div>
          <div id="case-at-end" *ngIf="canStartVerdictSelection">
            <p>
              All evidence has been revealed. Whenever you're ready, move on to make the verdict.
            </p>
            <p>
              <button class="btn btn-primary" (click)="startVerdictSelection()">
                Ready for Verdict
              </button>
            </p>
          </div>
          <div id="select-verdict" *ngIf="showVerdictOptions">
            <p>
              Make your verdict. Is the defendant GUILTY or NOT GUILTY?
            </p>
            <p>
              <button class="btn btn-success mx-3" (click)="submitGuiltyVerdict()">
                NOT GUILTY
              </button>
              <button class="btn btn-danger mx-3" (click)="submitNotGuiltyVerdict()">
                GUILTY
              </button>
            </p>
          </div>
          <div id="case-in-progress" *ngIf="shouldShowEvidence">
            <hr>
            <app-revealed-evidence></app-revealed-evidence>
          </div>
        </ng-container>
      </app-card>
    </div>
  </div>
</app-body>

<ng-template #loadingSection>
  <i class="fa fa-hourglass fa-spin fa-4x my-3"></i>
  <h5 class="card-title">
    {{waitMessage}}
  </h5>
</ng-template>
