<ng-container *ngIf="ready; else notReady">
  <app-body>
    <div class="row">
      <div class="col-md-8 mx-auto my-3 text-center">
        <app-card [title]="title">
          <hr>
          <form>
            <label for="evidence-name">
              Evidence name:
            </label>
            <div class="row">
              <div class="col-md-6 mx-auto">
                <input
                  id="evidence-name"
                  class="form-control"
                  type="text"
                  name="evidenceName"
                  [(ngModel)]="evidence.name"
                />
              </div>
            </div>
            <hr/>
            <div class="alert alert-warning" *ngIf="showErrors && !valid">
              <p>Please correct the following errors:</p>
              <ul>
                <li *ngFor="let error of errors">
                  {{ error }}
                </li>
              </ul>
            </div>
            <button class="btn btn-success" (click)="submit()">
              Save Evidence
            </button>
          </form>
        </app-card>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
