<ng-container *ngIf="ready; else notReady">
  <div class="header">
    <h1>
      <span *ngIf="editMode">Edit Evidence</span>
      <span *ngIf="!editMode">Create Evidence</span>
    </h1>
    <hr />
  </div>
  <div class="body">
    <form>
      <section id="evidence-name">
        1. Evidence name:
        <input
          type="text"
          name="evidenceName"
          [(ngModel)]="evidence.name"
        /><br /><br />
      </section>
      <hr />
      <div class="error-report" *ngIf="showErrors && !valid">
        <p>Please correct the following errors:</p>
        <ul>
          <li *ngFor="let error of errors">
            {{ error }}
          </li>
        </ul>
      </div>
      <button (click)="submit()">
        Save Evidence
      </button>
    </form>
  </div>
</ng-container>

<ng-template #notReady>
  <p>Loading...</p>
</ng-template>